
modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "static"
publicDir = "dist"
buildCommand = "npm run build"
enableNoJekyll = true

[[deployment.rewrites]]
from = "/*"
to = "/index.html"

[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true

[workflows]
runButton = "Run Dev Server"

[[workflows.workflow]]
name = "Run Dev Server"
author = 41619347
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
